CREATE DATABASE ${TEST_POSTGRES_DB};

CREATE USER ${TEST_POSTGRES_USER} WITH PASSWORD '${TEST_POSTGRES_PASSWORD}';

\c ${TEST_POSTGRES_DB}

CREATE SCHEMA recipe;

ALTER SCHEMA recipe OWNER TO ${TEST_POSTGRES_USER};

GRANT ALL PRIVILEGES ON DATABASE ${TEST_POSTGRES_DB} TO ${TEST_POSTGRES_USER};

GRANT ALL PRIVILEGES ON SCHEMA recipe TO ${TEST_POSTGRES_USER};